<u>**Part D. Increase the number of hidden layers (5 marks)**</u>

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.
<br><br>


- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data [concrete_data_columns [concrete_data_columns  != 'Strength']] # all columns except Strength
target = concrete_data ['Strength'] # Strength column

<a id="item2"></a>

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [7]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
predictors_norm.shape

(1030, 8)

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [9]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [10]:
import keras
import tensorflow as tf

try:
    tf.config.experimental.set_memory_growth(physical_devices[0], True)
except:
    # Invalid device or cannot modify virtual devices once initialized.
    pass

gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    try:
        tf.config.experimental.set_virtual_device_configuration(
            gpus[0],[tf.config.experimental.VirtualDeviceConfiguration(memory_limit=3507)])
    except RuntimeError as e:
        print(e)

2022-07-21 00:19:44.350080: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-21 00:19:44.389416: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-21 00:19:44.389634: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [11]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    # one hidden layer of 10 nodes, and a ReLU activation function
    # use the adam optimizer and the mean squared error as the loss function
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [13]:
from sklearn.model_selection import train_test_split

# step 1
# randomly split the data into a training and test sets by holding 30% of the data for testing
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target.to_numpy(), test_size=0.30)

Let's call the function now to create our model.

In [14]:
# build the model
model = regression_model()

2022-07-21 00:19:44.789000: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-21 00:19:44.789220: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-21 00:19:44.789373: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-21 00:19:45.325601: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-21 00:19:45.325825: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-21 00:19:45.325986: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:975] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-21 00:19:45.326117: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1532] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 3507 MB memory:  -> device: 0, name: NVIDIA GeForce GTX 1050 Ti, pci bus id: 0000:01:00.0, compute capability: 6.1

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 50 epochs.

In [15]:
from Sequences import DatasetGenerator

# data generator with tensorflow on the GPU
train_set = DatasetGenerator(X_train, y_train, 3507)
test_set = DatasetGenerator(X_test, y_test, 3507)

# step 2
# train the model on the training data using 50 epochs
model.fit(train_set, validation_data=test_set, epochs=50, verbose=2)

Epoch 1/50
1/1 - 1s - loss: 1493.3010 - val_loss: 1620.0204 - 985ms/epoch - 985ms/step
Epoch 2/50
1/1 - 0s - loss: 1492.0640 - val_loss: 1618.6210 - 56ms/epoch - 56ms/step
Epoch 3/50
1/1 - 0s - loss: 1490.8136 - val_loss: 1617.2144 - 57ms/epoch - 57ms/step
Epoch 4/50
1/1 - 0s - loss: 1489.5577 - val_loss: 1615.7943 - 60ms/epoch - 60ms/step
Epoch 5/50
1/1 - 0s - loss: 1488.2974 - val_loss: 1614.3677 - 56ms/epoch - 56ms/step
Epoch 6/50
1/1 - 0s - loss: 1487.0244 - val_loss: 1612.9242 - 56ms/epoch - 56ms/step
Epoch 7/50
1/1 - 0s - loss: 1485.7400 - val_loss: 1611.4725 - 65ms/epoch - 65ms/step
Epoch 8/50
1/1 - 0s - loss: 1484.4526 - val_loss: 1610.0144 - 65ms/epoch - 65ms/step
Epoch 9/50
1/1 - 0s - loss: 1483.1622 - val_loss: 1608.5409 - 61ms/epoch - 61ms/step
Epoch 10/50
1/1 - 0s - loss: 1481.8585 - val_loss: 1607.0559 - 53ms/epoch - 53ms/step
Epoch 11/50
1/1 - 0s - loss: 1480.5326 - val_loss: 1605.5564 - 63ms/epoch - 63ms/step
Epoch 12/50
1/1 - 0s - loss: 1479.1919 - val_loss: 1604.0261 - 60ms/epoch - 60ms/step
Epoch 13/50
1/1 - 0s - loss: 1477.8320 - val_loss: 1602.4736 - 66ms/epoch - 66ms/step
Epoch 14/50
1/1 - 0s - loss: 1476.4580 - val_loss: 1600.9010 - 55ms/epoch - 55ms/step
Epoch 15/50
1/1 - 0s - loss: 1475.0674 - val_loss: 1599.3188 - 59ms/epoch - 59ms/step
Epoch 16/50
1/1 - 0s - loss: 1473.6587 - val_loss: 1597.7251 - 57ms/epoch - 57ms/step
Epoch 17/50
1/1 - 0s - loss: 1472.2396 - val_loss: 1596.1177 - 59ms/epoch - 59ms/step
Epoch 18/50
1/1 - 0s - loss: 1470.8036 - val_loss: 1594.4910 - 61ms/epoch - 61ms/step
Epoch 19/50
1/1 - 0s - loss: 1469.3479 - val_loss: 1592.8412 - 56ms/epoch - 56ms/step
Epoch 20/50
1/1 - 0s - loss: 1467.8695 - val_loss: 1591.1692 - 63ms/epoch - 63ms/step
Epoch 21/50
1/1 - 0s - loss: 1466.3696 - val_loss: 1589.4761 - 55ms/epoch - 55ms/step
Epoch 22/50
1/1 - 0s - loss: 1464.8452 - val_loss: 1587.7556 - 59ms/epoch - 59ms/step
Epoch 23/50
1/1 - 0s - loss: 1463.2953 - val_loss: 1586.0095 - 60ms/epoch - 60ms/step
Epoch 24/50
1/1 - 0s - loss: 1461.7202 - val_loss: 1584.2323 - 63ms/epoch - 63ms/step
Epoch 25/50
1/1 - 0s - loss: 1460.1119 - val_loss: 1582.4282 - 58ms/epoch - 58ms/step
Epoch 26/50
1/1 - 0s - loss: 1458.4703 - val_loss: 1580.5917 - 66ms/epoch - 66ms/step
Epoch 27/50
1/1 - 0s - loss: 1456.7959 - val_loss: 1578.7208 - 59ms/epoch - 59ms/step
Epoch 28/50
1/1 - 0s - loss: 1455.0920 - val_loss: 1576.8123 - 56ms/epoch - 56ms/step
Epoch 29/50
1/1 - 0s - loss: 1453.3544 - val_loss: 1574.8699 - 59ms/epoch - 59ms/step
Epoch 30/50
1/1 - 0s - loss: 1451.5823 - val_loss: 1572.8932 - 62ms/epoch - 62ms/step
Epoch 31/50
1/1 - 0s - loss: 1449.7780 - val_loss: 1570.8811 - 56ms/epoch - 56ms/step
Epoch 32/50
1/1 - 0s - loss: 1447.9430 - val_loss: 1568.8335 - 59ms/epoch - 59ms/step
Epoch 33/50
1/1 - 0s - loss: 1446.0760 - val_loss: 1566.7565 - 58ms/epoch - 58ms/step
Epoch 34/50
1/1 - 0s - loss: 1444.1754 - val_loss: 1564.6460 - 57ms/epoch - 57ms/step
Epoch 35/50
1/1 - 0s - loss: 1442.2406 - val_loss: 1562.4991 - 54ms/epoch - 54ms/step
Epoch 36/50
1/1 - 0s - loss: 1440.2723 - val_loss: 1560.3127 - 56ms/epoch - 56ms/step
Epoch 37/50
1/1 - 0s - loss: 1438.2673 - val_loss: 1558.0912 - 60ms/epoch - 60ms/step
Epoch 38/50
1/1 - 0s - loss: 1436.2261 - val_loss: 1555.8291 - 59ms/epoch - 59ms/step
Epoch 39/50
1/1 - 0s - loss: 1434.1475 - val_loss: 1553.5211 - 55ms/epoch - 55ms/step
Epoch 40/50
1/1 - 0s - loss: 1432.0281 - val_loss: 1551.1710 - 60ms/epoch - 60ms/step
Epoch 41/50
1/1 - 0s - loss: 1429.8724 - val_loss: 1548.7816 - 57ms/epoch - 57ms/step
Epoch 42/50
1/1 - 0s - loss: 1427.6788 - val_loss: 1546.3417 - 60ms/epoch - 60ms/step
Epoch 43/50
1/1 - 0s - loss: 1425.4435 - val_loss: 1543.8606 - 61ms/epoch - 61ms/step
Epoch 44/50
1/1 - 0s - loss: 1423.1642 - val_loss: 1541.3381 - 56ms/epoch - 56ms/step
Epoch 45/50
1/1 - 0s - loss: 1420.8405 - val_loss: 1538.7744 - 59ms/epoch - 59ms/step
Epoch 46/50
1/1 - 0s - loss: 1418.4738 - val_loss: 1536.1598 - 54ms/epoch - 54ms/step
Epoch 47/50
1/1 - 0s - loss: 1416.0636 - val_loss: 1533.4902 - 63ms/epoch - 63ms/step
Epoch 48/50
1/1 - 0s - loss: 1413.6129 - val_loss: 1530.7695 - 61ms/epoch - 61ms/step
Epoch 49/50
1/1 - 0s - loss: 1411.1212 - val_loss: 1527.9817 - 66ms/epoch - 66ms/step
Epoch 50/50
1/1 - 0s - loss: 1408.5867 - val_loss: 1525.1426 - 63ms/epoch - 63ms/step

In [16]:
from sklearn.metrics import mean_squared_error

# step 3
# evaluate the model on the test data and compute the mean squared error 
# between the predicted concrete strength and the actual concrete strength
y_pred = model.predict(test_set)

print("Mean squared error: {}".format(mean_squared_error(y_test, y_pred)))

1/1 [==============================] - 0s 105ms/step
Mean squared error: 1525.142496285148

In [17]:
# step 4
# repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors
mean_squared_errors = []

for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target.to_numpy(), test_size=0.30)
    
    train_set = DatasetGenerator(X_train, y_train, 3507)
    test_set = DatasetGenerator(X_test, y_test, 3507)
    
    model.fit(train_set, validation_data=test_set, epochs=50, verbose=0)
    
    y_pred = model.predict(test_set)
    mean_squared_errors.append(mean_squared_error(y_test, y_pred))

1/1 [==============================] - 0s 40ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 35ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 41ms/step
1/1 [==============================] - 0s 40ms/step
1/1 [==============================] - 0s 41ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 36ms/step
1/1 [==============================] - 0s 37ms/step
1/1 [==============================] - 0s 42ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 36ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 36ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 41ms/step
1/1 [==============================] - 0s 40ms/step
1/1 [==============================] - 0s 35ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 36ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 42ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 43ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 63ms/step
1/1 [==============================] - 0s 42ms/step
1/1 [==============================] - 0s 37ms/step
1/1 [==============================] - 0s 43ms/step
1/1 [==============================] - 0s 41ms/step
1/1 [==============================] - 0s 45ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 36ms/step
1/1 [==============================] - 0s 44ms/step
1/1 [==============================] - 0s 43ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 42ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 38ms/step
1/1 [==============================] - 0s 39ms/step
1/1 [==============================] - 0s 36ms/step

In [18]:
# step 5
# report the mean and the standard deviation of the mean squared errors
mse = np.asarray(mean_squared_errors)
mean = mse.mean()
std = mse.std()
print("Mean of the mean squared errors: {}\n".format(mean))
print("Standard deviation of the mean squared errors: {}".format(std))

Mean of the mean squared errors: 127.18643374922692

Standard deviation of the mean squared errors: 181.92464840827773

The mean of the mean squared errors decreased compared to that from Step B.